<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
    dom_id ||= 'menu'
    css = [(css || 'menu clearfix')].flatten.join(' ')
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
-%>
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to Refinery::Core.site_name, refinery.root_path, :class => 'brand' %>
        <nav id='<%= dom_id %>' class='<%= css %> nav'>
          <ul class="nav">
            <%= render :partial => '/refinery/menu_branch', :collection => roots,
                       :locals => {
                         :hide_children => hide_children,
                         :sibling_count => (roots.length - 1),
                         :menu_levels => local_assigns[:menu_levels],
                         :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
                       } -%>
          </ul>
          </nav>
      </div>
      </div>
  </div>
</div>
        
<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://getbootstrap.com/2.3.2//assets/img/examples/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Brindavan SCC</h1>
              <p class="lead">Brindavan Small Christian Community is an SCC that belongs to the parish of St. John The Baptist, Thane.</p>
              
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "lead2.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "pic2.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
      
<% end -%>
